.image-gen-all-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    margin: 20px 0;
    justify-content: flex-start;
}
#container {
    margin-top: 20px;
}
.generated-img-box {
    width: 70%;
    display: contents;
}
.generated-img-box img {
    width: 50%;
}
.gen-btn-and-text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}
.body {
    background: #00f;
}
