body {
    background: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Header */

header {
    display: flex;
    justify-content: center;
}
.main-header {
    display: flex;
    height: 75px;
    background: #FBFFCA;
    position: absolute;
    width: 85%;
    margin: 30px 0 0 0;
    padding: 0 20px 0 20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 45px;
    border: 1px solid #000;
}
header img {
    width: 70px;
    filter: drop-shadow(2px 1px 1px #000);
}
nav {
    background-color: aliceblue;
    box-shadow: 3px 3px 5px #000;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 0 20px;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(206, 206, 206, 0.219);
    backdrop-filter: blur(5px);
    box-shadow: -1px 0 10px #000;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}
.sidebar li {
    width: 100%
}
.sidebar a{
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
}
.menu-button {
    display: none;
}

@media screen and (max-width:800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media screen and (max-width:400px) {
    .sidebar{
        width: 100%;
    }
}

header {
    display: flex;
    justify-content: center;
}
.main-header {
    display: flex;
    height: 75px;
    background: #FBFFCA;
    position: absolute;
    width: 85%;
    margin: 30px 0 0 0;
    padding: 0 18px 0 18px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 45px;
    border: 1px solid #000;
}
header img {
    width: 70px;
    filter: drop-shadow(2px 1px 1px #000);
}
.header-logo span {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #f8774f 1px 2px 4px;
}
.header-links, .header-links a {
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.mobile-screen-header {
    display: none;
}

/* Main Footer */
footer {
    display: flex;
}

/* Main Body Content */

.meme-h1-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #68b3ec;
    height: 425px;
    padding: 0 5px 0 5px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.meme-h1-title h1 {
    color: #ffe928;
    text-align: center;
    text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.82);
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: normal;
}

.meme-container {
    margin: 1rem;
}

.meme-generator {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
}
.meme-generator h2 {
    margin: 25px 10px 15px 10px;
    border: 1px solid #000;
    background: #FFF;
    font-size: 1rem;
}

.meme-generator img {
    width: 75%;
    height: fit-content;
    object-fit: fill;
}

.meme-generator  .generate-meme-btn {
    padding: 8px 20px;
    border: none;
    margin: 24px;
    background-color: yellow;
    border-radius: 20px;
    height: 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px;
    transition: all 300ms ease-out;
}

.meme-generator .generate-meme-btn:hover {
    padding: 0px 16px;
    letter-spacing:  2px;
}

.meme-generator .meme-author {
    margin: 8px;
}
.meme-page-content {
    height: 100%;
    margin: 45px 0;
}

.meme-page-content h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 5px 20px 5px;
}
.meme-page-content p {
    display: flex;
    justify-content: center;
    padding: 0 20%;
}

.alternate-title-banner {
    display: flex;
    position: absolute;
    width: 50%;
    margin: 15px;
    font-size: 1rem;
    padding: 25px;
    top: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fffaa0;
    box-shadow: 5px 6px 15px 5px rgba(0, 0, 0, 0.25);
}
.alternate-title-banner h2 {
    font-size: 1.125rem;
    font-weight: 600;
}

/* meme block new */

.memes-page-holder {
    height: 100%;
    width: 80%;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.meme-and-category-container{
    display: flex;
    flex-direction: row;
    margin: 115px 25px 45px 25px;
}
.category-dropdown-mobile-main {
    display: none;
}

.meme-box {
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: center;
}

.meme-category-bar {
    display: flex;
    flex-direction: column;
    height: max-content;
    background: #FFE3AE;
    width: 20%;
    border: 2px #000;
    border-radius: 20px;
    padding: 10px 5px;
    align-items: center;
    font-size: 18px;
}
.meme-category-bar p:hover {
    border-bottom: 3px solid rgb(248, 154, 100);
    cursor: pointer;
}


.main-meme-block {
    display: flex;
    flex-direction: row;
    height: max-content;
    padding: 1.15rem;
    border-radius: 15px;
    width: 100%;
    margin: 0 1rem;
    background: #fff9c5;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
}

.meme-title-box {
    width: 100%;
    height: 100%;
    display: contents;
}

.meme-title {
    padding: 6px 15px;
    border: 2px #000;
}

.individual-meme-block {
    display: flex;
    padding: 0 15px;
    width: 35%;
    height: max-content;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.load-more-btn-frame {
    display: flex;
    height: 4.25rem;
    justify-content: center;
}
.load-more-btn-frame button {
    display: flex;
    width: 45%;
    justify-content: center;
    background: #000;
    color: #fff27a;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
}

.footer-body {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #000000;
}
.footer-col-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-col-1 img {
    filter: drop-shadow(3px 3px 1px #024aff);
}
.footer-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-col-2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}


/* MEDIA SCREENS */

@media screen and (max-width: 600px) {
    .main-header {
        width: 80%;
    }
    .header-logo span{
        font-size: 1.125rem;
    }
    .meme-generator h2 {
        font-size: 16px;
    }
    .meme-category-bar {
        display: none;
    }
    .alternate-title-banner {
        width: 75%;
    }
    .alternate-title-banner h2 {
        font-size: 1.125rem;
        font-weight: 500;
    }
    .memes-page-holder {
        width: 100%;
    }
    .main-meme-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0.70rem 0 2.5rem;
        margin: 0 0.5rem;
    }
    .individual-meme-block {
        width: 100%;
        padding: 20px 0;
    }
    .meme-and-category-container {
        display: flex;
        flex-direction: column;
        margin: 85px 5px 40px 5px;
    }
    .memes-page-holder {
        padding: 0;
    }
    .category-dropdown-mobile-main {
        display: flex;
        margin: 130px 0 25px 0;
        justify-content: center;
        height: 45px;
        width: 100%;
    }
    .category-dropdown-mobile {
        width: 70%;
        padding: 10px;
        border-radius: 25px;
        background-color: #ffa555;
        font-size: 16px;
        -webkit-appearance: none;
        background-image: url(/imgs/arrow-down-sign-to-navigate.svg);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        box-shadow: 3px 3px 1px #000;
        cursor: pointer;
    }
    .meme-page-content h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 50px 5px 20px 5px;
        margin: 25px 0 0 0;
    }
    .meme-page-content p {
        display: flex;
        justify-content: center;
        padding: 0 10%;
    }
    .header-links {
        display: none;
    }
    .mobile-screen-header {
        display: flex;
        flex-direction: row-reverse;
    }
    .header-dropdown-mobile {
        width: 100%;
        display: flex;
        text-align: center;
        padding: 10px;
        border-radius: 25px;
        background-color: #ffaf3f;
        font-size: 16px;
        -webkit-appearance: none;
        cursor: pointer;
    }
}

@media screen and (max-width:1200px) {
    .main-header {
        width: 80%;
    }
    .header-logo span{
        font-size: 1.125rem;
    }
    .meme-generator h2 {
        font-size: 16px;
    }
    .meme-category-bar {
        display: none;
    }
    .alternate-title-banner {
        width: 75%;
    }
    .alternate-title-banner h2 {
        font-size: 1.123rem;
    }
    .memes-page-holder {
        width: 100%;
    }
    .main-meme-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0.70rem 0 2.5rem;
        margin: 0 0.5rem;
    }
    .individual-meme-block {
        width: 100%;
        padding: 20px 0;
    }
    .meme-and-category-container {
        display: flex;
        flex-direction: column;
        margin: 110px 5px 40px 5px;
    }
    .memes-page-holder {
        padding: 0;
    }
}